/* ARROWS */
.carousel__track-container > ul {
  list-style-type: none;
  padding: 0;
}

.carousel-img-arrows-container {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__button {
  width: 33px;
  height: 33px;
  transition: 0.5s;
  box-shadow: -2px 2px 0 rgba(219, 219, 219, 0.726);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 10;
}

.carousel__button:hover {
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.801);
}

.carousel__button--left {
  transform: rotate(45deg);
  position: absolute;
  left: 22%;
}

.carousel__button--right {
  transform: rotate(225deg);
  position: absolute;
  right: 22%;
}

/* IMAGE */
.full-image {
  display: none;
}

.displayed {
  display: block;
  object-fit: cover;
  width: 70%;
  margin-bottom: 30px;
  box-shadow: 1px 2px 3px grey;
  border-radius: 15px;
}

/* img and arrows CONTAINER */

.carousel-img-arrows-container {
  display: flex;
}
