/* MODAL */
#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 25;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
}

.create-item-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  background-color: white;
  border: 1px solid var(--secondaryColor);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 2px 4px var(--secondaryColor);
  z-index: 30;
}

.create-item-modal > input {
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid grey;
  outline: none;
}

.add-toList-btn {
  padding: 12px 24px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 2px 4px rgba(2, 83, 2, 0.795);
  font-size: 17px;
  background-color: rgba(0, 128, 0, 0.178);
}

.add-toList-btn:hover {
  background-color: var(--secondaryColor);
  color: white;
  transition: 0.45s;
}
.cancel-List-btn {
  padding: 12px 24px;
  border-radius: 15px;
  border: none;
  background-color: grey;
  box-shadow: 1px 2px 4px grey;
  font-size: 17px;
}

.cancel-List-btn:hover {
  background-color: rgb(102, 102, 102);
  transition: 0.45s;
}
