/* MOBILE */
@media screen and (max-width: 425px) {
  .logo {
    height: 50px;
  }

  .login-button {
    padding: 16px;
  }

  section > .thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }

  #carousel > a > .displayed {
    width: 90%;
  }

  nav > .nav-buttons {
    width: 60%;
  }

  .nav-buttons > .login-button {
    padding: 10px;
    font-size: 13px;
  }

  .nav-buttons > input {
    padding: 10px;
    font-size: 13px;
    width: 30%;
  }

  #carousel > .thumbnails > a > .thumbnail {
    height: 85px;
    width: 85px;
  }

  footer {
    flex-basis: 35%;
    flex-wrap: wrap;
  }
}

/* TABLET */
@media screen and (min-width: 425px) {
  .nav-buttons > .login-button {
    padding: 15px 30px;
    font-size: 15px;
  }

  #carousel > .thumbnails {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-buttons > .search-input {
    padding: 15px;
    font-size: 16px;
    width: 30%;
  }

  footer {
    flex-basis: 35%;
    flex-wrap: wrap;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-col > h4 {
    padding-bottom: 5px;
    padding-top: 20px;
  }
}

/* LAPTOP */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
  }

  .nav-buttons > .login-button {
    margin-right: 50px;
    padding: 13px 35px;
    font-size: 15px;
  }

  .menu > h1 {
    font-size: 27px;
    margin-top: 15px;
  }

  #carousel > .thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    flex-basis: 35%;
    flex-wrap: wrap;
  }
}

/* L LAPTOP and DESKTOP */
@media screen and (min-width: 1024px) {
  #carousel > .thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-buttons > input {
    padding: 20px;
    font-size: 17px;
    min-width: 40%;
  }
}
