/* MOBILE */
@media screen and (max-width: 425px) {
  .logo {
    height: 50px;
  }

  .login-button {
    padding: 16px;
  }

  aside > .thumbnails {
    flex-wrap: wrap;
  }

  #carousel > .carousel__button--right {
    right: 12%;
    height: 20px;
    width: 20px;
  }

  #carousel > .carousel__button--left {
    left: 12%;
    height: 20px;
    width: 20px;
  }

  nav > .nav-buttons {
    width: 60%;
  }

  .nav-buttons > .login-button {
    padding: 10px;
    font-size: 13px;
  }

  .nav-buttons > input {
    padding: 10px;
    font-size: 13px;
    width: 30%;
  }

  aside > .thumbnails > .aside > a > img {
    height: 85px;
    width: 85px;
  }

  .thumbnails > .aside > h3 {
    font-size: 16px;
  }

  .thumbnails > .aside {
    flex-basis: 90%;
    margin-bottom: 20px;
  }

  footer {
    flex-basis: 35%;
    flex-wrap: wrap;
  }
}

/* TABLET */
@media screen and (min-width: 425px) {
  .nav-buttons > .login-button {
    padding: 10px 30px;
    font-size: 15px;
  }

  .nav-buttons > .search-input {
    padding: 10px;
    font-size: 16px;
    width: 30%;
  }

  footer {
    flex-basis: 35%;
    flex-wrap: wrap;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-col > h4 {
    padding-bottom: 5px;
    padding-top: 20px;
  }

  section#carousel {
    max-width: 80%;
    height: 45vh !important;
  }

  #carousel > .carousel__button--right {
    right: 8%;
    height: 20px;
    width: 20px;
  }

  #carousel > .carousel__button--left {
    left: 8%;
    height: 20px;
    width: 20px;
  }

  aside > .thumbnails > .aside > a > img {
    height: 85px;
    width: 85px;
  }
}

/* LAPTOP */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
  }

  .nav-buttons > .login-button {
    margin-right: 50px;
    padding: 13px 35px;
    font-size: 15px;
  }

  .menu > h1 {
    font-size: 27px;
    margin-top: 15px;
  }

  footer {
    flex-basis: 35%;
    flex-wrap: wrap;
  }

  section#carousel {
    max-width: 70%;
    height: 50vh !important;
  }

  #carousel > .carousel__button--right {
    right: 5%;
    height: 30px;
    width: 30px;
  }

  #carousel > .carousel__button--left {
    left: 5%;
    height: 30px;
    width: 30px;
  }

  aside > .thumbnails > .aside > a > img {
    height: 130px;
    width: 130px;
  }
}

/* L LAPTOP and DESKTOP */
@media screen and (min-width: 1024px) {
  .nav-buttons > input {
    padding: 20px;
    font-size: 17px;
    min-width: 40%;
  }

  section#carousel {
    max-width: 70%;
    height: 55vh !important;
  }

  #carousel > .carousel__button--right {
    right: 8%;
    height: 35px;
    width: 35px;
  }

  #carousel > .carousel__button--left {
    left: 8%;
    height: 35px;
    width: 35px;
  }

  aside > .thumbnails > .aside > a > img {
    height: 200px;
    width: 200px;
  }
}
