@import url("./css/responsive.css");
@import url('./css/carousel.css');

* {
    margin: 0 auto;
}

h1, h2, h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

body {
    box-sizing: border-box;
}

.logo {
    height: 70px;
    float: left;
}

:root {
    --primaryColor: #FFB740;
    --secondaryColor: #DF711B;
    --thirdColor: #64C9CF;
}

/* NAVIGATION */
.nav-buttons{
    float: right;
}

nav { 
    line-height: 78px;
    background-color: var(--primaryColor);
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-button, .search-input  {
    padding: 12px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 4px var(--secondaryColor);
    font-size: 19px;
    outline:none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.login-button:hover {
    background-color: var(--secondaryColor);
    color: white;
}

/* MAIN MENU */

main > h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}