// app.component.scss/ icons, font..
Nav > a {
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  box-shadow: 2px 3px 2px grey;
  background-color: var(--primaryColor);
  border-radius: 15px;
  padding: 10px 30px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

Nav {
  max-width: 50vw;
}

Nav > a:hover {
  background-color: white;
  color: var(--primaryColor);
  transition: 0.45s;
}
